USE [master]
GO
/****** Object:  Database [TestDataBase]    Script Date: 2/11/2012 PM 5:48:16 ******/
CREATE DATABASE [TestDataBase] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDataBase]
GO
/****** Object:  Table [dbo].[Leave]    Script Date: 2/11/2012 PM 5:48:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave](
	[LeaveID] [uniqueidentifier] NOT NULL,
	[LeaveName] [nvarchar](50) NOT NULL,
	[LeaveDay] [int] NULL,
	[Comment] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Leave] PRIMARY KEY CLUSTERED 
(
	[LeaveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
