<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <connectionStrings>
    <add name="DBCreator" connectionString="Server=.\sqlexpress;database=SchoolManagementDB;integrated security=sspi" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--
  value=true：Recreate the whole db (for test only)
  value=false：A released version for persistance db
  
  Notice：For first use to have some contents for testing, you can 
  set to "true", for the later times, set to "false"
  -->
  <appSettings>
    <add key="RecreateDB" value="true"/>
  </appSettings>
</configuration>
