<?xml version="1.0"?>
<configuration>
	<startup/><system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ILeaveService"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:15099/LeaveService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILeaveService" contract="ServiceReference1.ILeaveService" name="BasicHttpBinding_ILeaveService"/>
		</client>
	</system.serviceModel>
</configuration>
