<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5bff8fbe-ccde-498a-8a1e-fd8a84209006" Publisher="CN=All-In-One Code Framework" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CSWindowsStoreAppAddItem</DisplayName>
    <PublisherDisplayName>All-In-One Code Framework</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CSWindowsStoreAppAddItem.App">
      <VisualElements DisplayName="CSWindowsStoreAppAddItem" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="This sample demonstrates, how to add an item to a grouped grid view." ForegroundText="light" BackgroundColor="#E6B80B">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\TileLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#E6B80B" />
      </VisualElements>
    </Application>
  </Applications>
</Package>