<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
        name="tcp"
        contract="CustomService.ICustomServiceContract"
        binding="customBinding"
        bindingConfiguration="CustomServiceTcpBinding" />
      <endpoint
        name="tcp-ssl"
        contract="CustomService.ICustomServiceContract"
        binding="customBinding"
        bindingConfiguration="CustomServiceTcpSecureBinding" />
      <endpoint
        name="http"
        contract="CustomService.ICustomServiceContract"
        binding="customBinding"
        bindingConfiguration="CustomServiceHttpBinding" />
      <endpoint
        name="https"
        contract="CustomService.ICustomServiceContract"
        binding="customBinding"
        bindingConfiguration="CustomServiceHttpsBinding" />
    </client>
    <bindings>
      <customBinding>
        <binding
          name="CustomServiceTcpBinding">
          <security
            authenticationMode="IssuedTokenOverTransport"
            allowInsecureTransport="true" />
          <binaryMessageEncoding>
            <readerQuotas
              maxStringContentLength="1048576"
              maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <tcpTransport
            maxReceivedMessageSize="2162688" />
        </binding>
        <binding
          name="CustomServiceTcpSecureBinding">
          <security
            authenticationMode="IssuedTokenOverTransport" />
          <sslStreamSecurity />
          <binaryMessageEncoding>
            <readerQuotas
              maxStringContentLength="1048576"
              maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <tcpTransport
            maxReceivedMessageSize="2162688" />
        </binding>
        <binding
          name="CustomServiceHttpBinding">
          <security
            authenticationMode="IssuedTokenOverTransport"
            allowInsecureTransport="true" />
          <binaryMessageEncoding>
            <readerQuotas
              maxStringContentLength="1048576"
              maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpTransport
            maxReceivedMessageSize="2162688"
            authenticationScheme="Anonymous"
            useDefaultWebProxy="false" />
        </binding>
        <binding
          name="CustomServiceHttpsBinding">
          <security
            authenticationMode="IssuedTokenOverTransport" />
          <binaryMessageEncoding>
            <readerQuotas
              maxStringContentLength="1048576"
              maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpsTransport
            maxReceivedMessageSize="2162688"
            authenticationScheme="Anonymous"
            useDefaultWebProxy="false" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>

</configuration>
