@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowDetails</title>
</head>
<body>
    <div>
          @using (Html.BeginForm())
            {
                 <p>
                     Site Name:@ViewBag.ServerName<br/>
                     Current site PipeLineMode:@ViewBag.CurrentServerPipelineMode<br />            
                </p>       
            }
    </div>
</body>
</html>
