<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding" maxReceivedMessageSize="4194304">
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="svc1">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="SaveBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
 
    <services>
      <service name="JSO15SaveWordDocumentWeb.SaveWordService" behaviorConfiguration="svc1" >
        <endpoint address="" behaviorConfiguration="SaveBehavior" binding="webHttpBinding" 
bindingConfiguration="webBinding" contract="JSO15SaveWordDocumentWeb.SaveWordService">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
