<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="applicationDatabase" value="Data Source=(local);Initial Catalog=Tfs_Configuration;Integrated Security=True;" />
    <add key="ToolsPath" value="C:\Program Files\Microsoft Team Foundation Server 2010\Tools\"/>
      <add key="xsdPath" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin\NETFX 4.0 Tools\xsd.exe"/>
  </appSettings>
</configuration>
