<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>

  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpRuntime requestValidationMode="4.5" />
    <pages validateRequest="false" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <!--<httpRuntime targetFramework="4.5" requestValidationMode="4.5" />-->
  </system.web>
  <appSettings>
    <!--TODO: For how to add sts in VS2012 please refer to:
    http://www.stratospher.es/blog/post/add-sts-reference-missing-in-visual-studio-2012-rc-->
    <add key="ida:FederationMetadataLocation" value="https://[fill your appfabric namespace].accesscontrol.windows.net/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:Issuer" value="https://[fill your appfabric namespace].accesscontrol.windows.net/v2/wsfederation" />
    <add key="ida:ProviderSelection" value="productionSTS" />
  </appSettings>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <!--TODO: Your realm name you set in appfabric-->
        <add value="http://127.0.0.1:81" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <!--TODO: Change the certificate,appfabric to your own.-->
          <add thumbprint="[Your certificate]" name="https://[fill your appfabric namespace].accesscontrol.windows.net/" />
        </trustedIssuers>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" />
      <!--TODO: Set your appfabric namesapce and your realm name you set in appfabric.-->
      <wsFederation passiveRedirectEnabled="true" issuer="https://[fill your appfabric namespace].accesscontrol.windows.net/v2/wsfederation" realm="http://127.0.0.1:81/" requireHttps="false" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>