<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="cbb75e17-85fa-46a3-a5bb-f92e29cd2a8b" Publisher="CN=All-In-One Code Framework" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CSWindowsStoreAppDeviceClient</DisplayName>
    <PublisherDisplayName>All-In-One Code Framework</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CSWindowsStoreAppDeviceClient.App">
      <VisualElements DisplayName="CSWindowsStoreAppDeviceClient" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="CSWindowsStoreAppDeviceClient" ForegroundText="light" BackgroundColor="#E6B80B">
        <DefaultTile ShowName="allLogos" ShortName="CSWindowsStoreAppDeviceClient" WideLogo="Assets\TileLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>