<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">CSWindowsStoreAppASHWID</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to CSWindowsStoreAppDeviceService</h1>
            </hgroup>
            <p><b>This service helps on the following:</b></p>
            <ol>
                <li>Generate the one time password (OTP nonce) to the customer aginst relay attacks.  The nonce will be expired in one minute.</li>
                <li>Authenticate the ASHWID uploaded from the customer.</li>
                <li>Process the ASHWID to deal with the hardware drift to implement the per-device logic.</li>
            </ol>
        </div>
    </section>
</div>
