<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
        <authorization>
            <deny users="?" />
        </authorization>
  </system.web>

 <system.serviceModel>

    <!-- Define the custom Binding -->
    <bindings>
      <customBinding>
        <binding name="custom">
          <security authenticationMode="UserNameOverTransport" />
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport requireClientCertificate="true" />
        </binding>      
      </customBinding>
    </bindings>

    <!-- Define the endpoint -->
    <services>
      <service name="CSWCFServiceDualAuthentication.Service1" behaviorConfiguration="serverbehavior">
        <endpoint address="https://mesa.fareast.corp.microsoft.com/CSWCFDualAuth/Service1.svc" binding="customBinding" bindingConfiguration="custom" name="custom" contract="CSWCFServiceDualAuthentication.IService1" />
      </service>
    </services>

    <!-- Define the Service Behavior -->

    <behaviors>
      <serviceBehaviors>
        <behavior name="serverbehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />

          <serviceCredentials>

            <!-- "For username and password authentication" -->
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CSWCFServiceDualAuthentication.MyUserNamePasswordValidator, CSWCFServiceDualAuthentication" />

            <!--For client certificate Authentication -->
            
            <clientCertificate>
			<authentication certificateValidationMode="Custom"
			                 customCertificateValidatorType="CSWCFServiceDualAuthentication.CertificateValidate, CSWCFServiceDualAuthentication"/>       
        </clientCertificate>

          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
