<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service
        name="CustomService.CustomServiceApplication">
        <endpoint
          address=""
          contract="CustomService.ICustomServiceContract"
          binding="customBinding"
          bindingConfiguration="CustomServiceTcpBinding" />
        <endpoint
          address="secure"
          contract="CustomService.ICustomServiceContract"
          binding="customBinding"
          bindingConfiguration="CustomServiceTcpSecureBinding" />
        <endpoint
          address=""
          contract="CustomService.ICustomServiceContract"
          binding="customBinding"
          bindingConfiguration="CustomServiceHttpBinding" />
        <endpoint
          address="secure"
          contract="CustomService.ICustomServiceContract"
          binding="customBinding"
          bindingConfiguration="CustomServiceHttpsBinding" />
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding
          name="CustomServiceTcpBinding">
          <security
            authenticationMode="IssuedTokenOverTransport"
            allowInsecureTransport="true" />
          <binaryMessageEncoding>
            <readerQuotas
              maxStringContentLength="1048576"
              maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <tcpTransport
            maxReceivedMessageSize="2162688" />
        </binding>
        <binding
          name="CustomServiceTcpSecureBinding">
          <security
            authenticationMode="IssuedTokenOverTransport" />
          <sslStreamSecurity />
          <binaryMessageEncoding>
            <readerQuotas
              maxStringContentLength="1048576"
              maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <tcpTransport
            maxReceivedMessageSize="2162688" />
        </binding>
        <binding
          name="CustomServiceHttpBinding">
          <security
            authenticationMode="IssuedTokenOverTransport"
            allowInsecureTransport="true" />
          <binaryMessageEncoding>
            <readerQuotas
              maxStringContentLength="1048576"
              maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpTransport
            maxReceivedMessageSize="2162688"
            authenticationScheme="Anonymous"
            useDefaultWebProxy="false" />
        </binding>
        <binding
          name="CustomServiceHttpsBinding">
          <security
            authenticationMode="IssuedTokenOverTransport" />
          <binaryMessageEncoding>
            <readerQuotas
              maxStringContentLength="1048576"
              maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpsTransport
            maxReceivedMessageSize="2162688"
            authenticationScheme="Anonymous"
            useDefaultWebProxy="false" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
</configuration>
