<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.166-beta" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Common" version="0.9.13-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Common.Dependencies" version="0.9.3-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management" version="0.9.9-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Compute" version="0.9.16-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Libraries" version="0.9.7-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Monitoring" version="0.9.7-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Network" version="0.9.7-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Scheduler" version="0.9.13-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.ServiceBus" version="0.9.7-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Sql" version="0.9.10-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Storage" version="0.9.8-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.WebSites" version="0.9.14-preview" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="2.0.5.1" targetFramework="net45" />
</packages>