<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <authentication mode="Forms">
        <forms loginUrl="login.aspx" name=".ASPXFORMSAUTH"/>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
      <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/>
      <!--Build-in Provider Configuration-->
      <membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="15">
        <providers>
        </providers>
      </membership>
    </system.web>

  <connectionStrings>
    <!-- Clear the default connection. -->
    <clear/>
    <!-- Connect to the database in the App_Data folder -->
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MembershipProviderTest.mdf;Integrated Security=True" />
    <!-- Connect to the database which has been attached to the database manager. -->
    <!--<add name="LocalSqlServer" connectionString="Data Source=.;Initial Catalog=D:\PROJECTDIR\NET\CSASPNETPrivateMessagesModule\VBASPNETMEMBERSHIPPROVIDER\APP_DATA\MEMBERSHIPPROVIDERTEST.MDF;Integrated Security=True"/>-->
  </connectionStrings>

  <location path="CreateUser.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>
