<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
        <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F5428FBFF582F8AD364E13B35BE280F4F" validation="SHA1" validationKey="5428FBFF582F8AD364E13B35BE280F4F1F4A70009DE62168764FF0DCE537184F0535D5D9AD66DEDC5428FBFF582F8AD364E13B35BE280F4F1F4A700097DC1ABF" />
    </system.web>

</configuration>
