<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EFCloneEntities" connectionString="metadata=res://*/EmpModel.csdl|res://*/EmpModel.ssdl|res://*/EmpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=EFCloneDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CSEFDeepCloneObject.Properties.Settings.EFCloneConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EFCloneDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>